[Desktop Entry]
Type=Application
Name=ranger-nvim
Comment=Launches the ranger file manager
Icon=utilities-terminal
Terminal=false
Exec=alacritty -e ranger --select %F
Categories=ConsoleOnly;System;FileTools;FileManager
MimeType=inode/directory;
Keywords=File;Manager;Browser;Explorer;Launcher;Vi;Vim;Python
